body {
    font-family: 'Inter', sans-serif;
}

.navbar{
padding-right: 20px;

}
.navigation{
    background-color: #FFF9F4;
}

.top-section{
    background-color:#FFF9F4 ;
    height: 500px;
}

.link-button{
    background-color:#3848d1 ;
    color: white;
    border: 0;
    border-radius: 8px;
    height: 50px;
}
.link-button img{
    width: 15%;
}
span{
    color: tomato;
}







